<div class="page_container">
  <div class="form_wrapper">
    <div class="title">Login</div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="error centered" [hidden]="!submitFailed">Name or password wrong</div>
      <div class="input_group">
        <input type="email" name="name" [(ngModel)]="userName" #username="ngModel"
               [class.invalid_input]="username.invalid && username.touched"
               placeholder="Email" required>
        <div class="error" [hidden]="username.valid || username.untouched">Email required</div>
      </div>

      <div class="input_group">
        <input type="password" name="pass" [(ngModel)]="password" #loginpass="ngModel"
               [class.invalid_input]="loginpass.invalid && loginpass.touched"
               placeholder="Password" required>
        <div class="error" [hidden]="loginpass.valid || loginpass.untouched">Password required</div>
      </div>

      <button class="submit_btn" type="submit" [disabled]="loginForm.invalid || loginForm.untouched"
              [class.is_disabled]="loginForm.invalid || loginForm.untouched">Log In</button>
    </form>

    <div class="social_links_container">
      <div class="or_wrapper"><hr/><div>or</div><hr/></div>
      <div class="social_links">
        <button (click)="signInWithGoogle()">
          <img src="./assets/images/icons_google.svg" width="30" alt="google">
        </button>
        <button (click)="signInWithFB()">
          <img src="./assets/images/logos_facebook.svg" width="30" alt="facebook">
        </button>
      </div>
    </div>
  </div>

  <div class="redirect">
    <a routerLink="/register">Register</a>
    <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M22.7071 8.70711C23.0976 8.31658 23.0976 7.68342 22.7071 7.29289L16.3431 0.928932C15.9526 0.538408 15.3195 0.538408 14.9289 0.928932C14.5384 1.31946 14.5384 1.95262 14.9289 2.34315L20.5858 8L14.9289 13.6569C14.5384 14.0474 14.5384 14.6805 14.9289 15.0711C15.3195 15.4616 15.9526 15.4616 16.3431 15.0711L22.7071 8.70711ZM0 9H22V7H0V9Z"/>
    </svg>

  </div>
</div>
