<div class="page_container">
  <div class="form_wrapper">
    <div class="title">Register</div>
    <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
      <div class="error" [hidden]="!isRegistered && !mail.touched">Email already exists</div>
      <div class="input_group">
        <input type="text" name="email" [(ngModel)]="email" #mail="ngModel"
               [class.invalid_input]="mail.invalid && mail.touched"
               placeholder="User email" required>
        <div class="error" [hidden]="mail.valid || mail.untouched">Email required</div>
      </div>
      <div class="input_group">
        <input type="password" name="pass" [(ngModel)]="password" #newpass="ngModel"
               [class.invalid_input]="newpass.invalid && newpass.touched"
               placeholder="Password" required minlength="10">
        <div *ngIf="newpass.invalid && newpass.touched">
          <div class="error" *ngIf="newpass.errors.required">Password required</div>
          <div class="error" *ngIf="newpass.errors.minlength">Password should be at least 10 characters</div>
        </div>
      </div>
      <div class="input_group">
        <input type="password" name="reppass" [(ngModel)]="repeatedPassword" #reppass="ngModel"
               [class.invalid_input]="reppass.invalid && reppass.touched"
               placeholder="Repeat password" required>
        <div *ngIf="reppass.invalid && reppass.touched">
          <div class="error" *ngIf="reppass.errors.required">Repeat password</div>
        </div>
        <div class="error" *ngIf="reppass.touched && !match()">Passwords are not the same</div>
      </div>

      <button class="submit_btn" type="submit" [disabled]="registerForm.invalid || registerForm.untouched || !match()"
              [class.is_disabled]="registerForm.invalid || registerForm.untouched || !match()">Register</button>
    </form>

    <div class="social_links_container">
      <div class="or_wrapper"><hr/><div>or</div><hr/></div>
      <div class="social_links">
        <img src="./assets/images/icons_google.svg" width="30" alt="google">
        <img src="./assets/images/logos_facebook.svg" width="30" alt="facebook">
      </div>
    </div>
  </div>

  <div class="redirect">
    <a routerLink="/login">Log in</a>
    <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M22.7071 8.70711C23.0976 8.31658 23.0976 7.68342 22.7071 7.29289L16.3431 0.928932C15.9526 0.538408 15.3195 0.538408 14.9289 0.928932C14.5384 1.31946 14.5384 1.95262 14.9289 2.34315L20.5858 8L14.9289 13.6569C14.5384 14.0474 14.5384 14.6805 14.9289 15.0711C15.3195 15.4616 15.9526 15.4616 16.3431 15.0711L22.7071 8.70711ZM0 9H22V7H0V9Z"/>
    </svg>
  </div>
</div>
